<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id = "employeeBean" class = "com.oocl.barceja2.hw3.employee">
   	<property name = "name" value ="Mark zuckerberg"/>
   	<property name = "role" value ="CEO"/>
   	<property name = "employee_id" value ="69"/>
   </bean>
   
   
 </beans>