<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	<!-- Start of SW3 -->
	<bean id="employee" class="com.oocl.punzagh.sw3.Employee" scope="singleton">
		<property name="name" value="Ghino Punzalan" />
		<property name="role" value="Programmer" />
		<property name="employee_id" value="1" />
	</bean>
	<!-- End of SW3 -->
</beans>