<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Start of HW2 -->
	<bean id="networkmgr" class="com.oocl.punzagh.hw2.NetworkManager"
		scope="singleton" init-method="init" destroy-method="destroy">
		<property name="httpcon" ref="httpcon">
		</property>
	</bean>
	<bean id="httpcon" class="com.oocl.punzagh.hw2.HttpConnection"
		scope="singleton">
		
	</bean>
	<!-- End of HW2 -->
</beans>