<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	<!-- Start of SW2 -->
	<bean id="drawcircle" class="com.oocl.punzagh.sw2.Drawing">
		<property name="shape">
			<bean id="circleobject" class="com.oocl.punzagh.sw2.Circle" />
		</property>
	</bean>

	<bean id="drawtriangle" class="com.oocl.punzagh.sw2.Drawing">
		<property name="shape">
			<bean id="triangleobject" class="com.oocl.punzagh.sw2.Triangle" />
		</property>
	</bean>
	<!-- End of SW2 -->
</beans>