<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      <!-- org.hibernate.dialect.MySQLDialect -->
      org.hibernate.dialect.OracleDialect
   </property>
   <property name="hibernate.connection.driver_class">
     <!-- com.mysql.jdbc.Driver --> 
     oracle.jdbc.OracleDriver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      <!-- jdbc:mysql://127.0.0.1:3306/sakila.employee-->
      jdbc:oracle:thin:@localhost:1521:dbita
      
   </property>
   <property name="hibernate.connection.username">
    <!-- root -->
    system
   </property>
   <property name="hibernate.connection.password">
    <!-- 809Mysql809!  -->
    admin
   </property>

   <!-- List of XML mapping files -->
   <mapping resource="Employee.hbm.xml"/>

</session-factory>
</hibernate-configuration>