<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- Start of HW1 -->
	<bean id="a" class="com.oocl.punzagh.hw1.A" scope="singleton">
		<property name="Order">
			<bean class="com.oocl.punzagh.hw1.Order">
				<property name="item" value="T Gel" />
				<property name="price" value="6900" />
				<property name="address" value="Somewhere Address" />
			</bean>
		</property>

	</bean>
	<!-- End of HW1 -->

</beans>